@model IEnumerable<LinqStoringData.ViewModel.TotalCalculation>

@{
    ViewBag.Title = "TotalMarks";
}

<h3 class="pt-5 pb-2"></h3>

<h6 class="text-bg-danger">@ViewBag.Message</h6>
<table class="table table-success table-bordered my-auto ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoilogyMarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChemistryMarks)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MathsMarks)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.TotalMarks)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoilogyMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemistryMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MathsMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMarks)
            </td>
        </tr>
    }

</table>
<div class="pt-3">
    @Html.ActionLink("Filtering by Percentage", "Filter", "Home", null, new { @class = "btn btn-primary" })
</div>